body{
    background-color:lavender;
    font-family: Arial;
}
.wht{
    background-color:white;
    width:700px;
    height:230px;
    margin-bottom: 25px;
    border-radius:10px;
}

.wht h1,h4,p,h3{
    text-align: left;
    margin:10px;
    margin-left: 10px;
}
.wht span{
    color:red;
}
.wht p{
    color:red;
}

#wt{
    background-color:white;
    height:140px;
    margin-bottom: 30px;
}
#wt form{
    text-align: left;
    margin-left: 10px;
}

#box{
    border: none;
    outline: none;
    width:fit-content;
    padding-left: 10px;
}

.subbtn{
    display: flex;
}

.sub{
    background-color: rgb(92, 5, 173);
    margin-left: 24%;
    padding: 7px 13px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5px;
}
.sub:hover{
    border: 2px solid rgb(44, 43, 43);
    background-color: blueviolet;    
}
.res{
    margin-left: 27.5%;
}
.sub a{
    text-decoration: none;
    color: white;
}